uvicorn
httpx
loguru
torch
torchaudio
torchvision
transformers
sentence-transformers
tiktoken
cellium
substrate-interface
communex
python-dotenv
eth-typing
git+https://github.com/websocket-client/websocket-client

